body{
  background-color : teal;
}

#boxIM{
  margin: 0 auto;
    width:90%;
    float:left;
    height:520px;
    background: white;
    overflow:scroll;
}

#input{
  margin-left: 20 auto;
  width:90%;
  height:38px;
  background: white;
  font-size: 14px;
}
#say{
  width:110px;
  height:70px;
  font-size:24px;
}


#list{
  list-style:none;

}
